<aside 
    class="flex flex-col items-center py-6 w-20 shadow-xl h-full" 
    style="background-color: rgba(245, 130, 32, 0.3);" 
>
    <div class="flex flex-col space-y-4">
        
        <a href="#" class="w-12 h-12 flex items-center justify-center rounded transition duration-150 ease-in-out hover:opacity-80 font-bold text-lg" style="background-color: #f58220; color: #242441;">
            B2C
        </a>
        
        <a href="#" class="w-12 h-12 flex items-center justify-center rounded transition duration-150 ease-in-out hover:opacity-80 font-bold text-lg" style="background-color: #f58220; color: #242441;">
            B2B
        </a>

        <a href="#" class="w-12 h-12 flex items-center justify-center rounded transition duration-150 ease-in-out hover:opacity-80" style="background-color: #f58220;">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="color: #242441; stroke-width: 2;">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </a>
        
        <a href="#" class="w-12 h-12 flex items-center justify-center rounded transition duration-150 ease-in-out hover:opacity-80" style="background-color: #f58220;">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="color: #242441; stroke-width: 2;">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
            </svg>
        </a>

        <a href="#" class="w-12 h-12 flex items-center justify-center rounded transition duration-150 ease-in-out hover:opacity-80" style="background-color: #f58220;">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="color: #242441; stroke-width: 2;">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l3 3m0 0l-3 3m3-3H9" />
            </svg>
        </a>
        
    </div>
</aside>